<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style-developers.css">
    <title>FolioHub | DEVELOPERS</title>
    <link rel="icon" href="img/foliohub-logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
       <div class="wrapper">
         <nav>
           <input type="checkbox" id="show-search">
           <input type="checkbox" id="show-menu">
           <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
     
           <div class="content">
           <div class="logo"><a href="#">
                <img src="img/foliohub-logo.png" width="30" height="30"> FolioHub </a>
           </div>
           <ul class="links">
     
              <li>
                 <a href="#" class="desktop-link"><i class="fab fa-firefox-browser"><span> Browse </span></i></a>
                 <input type="checkbox" id="show-featuresone">
                 <label for="show-featuresone"><i class="fab fa-firefox-browser"><span> Browse </span></i></label>
                 <ul>
                   <li><a href="#" target="_blank">Projects</a></li>
                   <li><a href="#" target="_blank">Developers</a></li>
                 </ul>
               </li>
     
               <li><a href="#">Sign In</a></li>
               
               <li><a href="#" class="for-join">Join Us</a></li>
     
            </ul>
          </div>
     
           <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
           <form action="#" class="search-box">
             <input type="text" placeholder="Type Something to Search..." required>
           </form>
        
         </nav>
       </div>
    </header>

    <div class="team-section">
        <div class="inner-width">
            <h1>Meet Our Team</h1>

            <div class="team-content">
                <div class="team-members">
                    <img src="img/dezguman-pic.png" alt="Lorence Joy De Guzman">
                    <div class="dev-name">Lorence Joy De Guzman</div>
                    <div class="dev-position">Front-End Developer</div>
                    <div class="dev-sns">
                        <a href="https://www.facebook.com/lorence.gatdula/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/ljheygats/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="team-content">
                <div class="team-members">
                    <img src="img/andus-pic.jpg" alt="Elaine S. Andus">
                    <div class="dev-name">Elaine S. Andus</div>
                    <div class="dev-position">Front-End Developer</div>
                    <div class="dev-sns">
                        <a href="https://www.facebook.com/GmElaineAndus" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/elaine_andus" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/elaine_andus/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                   
                </div>
            </div>

            <div class="team-content">
                <div class="team-members">
                    <img src="img/landicho-pic.jpg" alt="Iris Landicho">
                    <div class="dev-name">Iris Landicho</div>
                    <div class="dev-position">Front-End Developer</div>
                    <div class="dev-sns">
                        <a href="https://www.facebook.com/rslndch" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/_ailiseu?t=0_cHW00cDYboeuxhkDTMfA&s=09" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://instagram.com/_ailiseu?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="team-content">
                <div class="team-members">
                    <img src="img/herrero-pic.jpg" alt="Wendell Herrero">
                    <div class="dev-name">Wendell Herrero</div>
                    <div class="dev-position">Back-End Developer</div>
                    <div class="dev-sns">
                        <a href="https://www.facebook.com/wendellherrero" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/wendellherrero" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="team-content">
                <div class="team-members">
                    <img src="img/yee-pic.jpg" alt="Patrick Yee">
                    <div class="dev-name">Patrick Yee</div>
                    <div class="dev-position">Back-End Developer</div>
                    <div class="dev-sns">
                        <a href="https://www.facebook.com/profile.php?id=100006674776185" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="team-content">
                <div class="team-members">
                    <img src="img/rosales-pic.png" alt="Borj Rosales">
                    <div class="dev-name">Earl Benjamin Rosales</div>
                    <div class="dev-position">Back-End Developer</div>
                    <div class="dev-sns">
                        <a href="https://www.facebook.com/MurtYanEhh/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://twitter.com/Bowrj" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/bowrjy/" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div class="team-content">
                <div class="team-members">
                    <img src="img/caspillan-pic.png" alt="Jehiel Caspillan">
                    <div class="dev-name">Jehiel Caspillan</div>
                    <div class="dev-position">Back-End Developer</div>
                    <div class="dev-sns">
                        <a href="https://www.facebook.com/jehielcsplln" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/mjhlcsplln/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>