<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FolioHub | SIGN UP PAGE 3</title>
	<link rel="icon" href="img/foliohub-logo.png">

	<link rel="stylesheet" href="style-signup-page.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
  	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Goblin+One&family=Noto+Serif+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&family=Ranchers&family=Slackey&family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="for-vector-pic">
			<img src="img/vector-image-signup.png">
		</div>

		<div class="signup-content">
			<form>
                <div class="wrap-two">
					<label for="fileField"><img src="img/profile-icon.jpg" id="photo"></label>
					<input type="file" id="fileField" name="file" accept="image/*">
					<p>Click on image to upload user icon</p>
				</div>
                <div class="wrap-two">
					<label>Biography</label>
					<textarea type="text" class="form-control"></textarea>
				</div>

				<div class="for-buttons">
					<a type="button" class="button-next" href="index-signup-page3.html">Submit</a></button>

					<a type="button" class="button-cancel" href="index-signup-page3.html">Cancel</a></button>
				</div>

              <p>Already have an account? <a class="for-signin" href="index-signin-page.html">Sign In</a></p>
			</form>
        </div>
    </div>
</body>
</html>