<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FolioHub | VIEW USER</title>
  <link rel="icon" href="img/foliohub-logo.png">
  <link rel="stylesheet" href="style-viewuser-page.css">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

  <header>
    <!-- navigation -->
   <div class="wrapper">
     <nav>
       <input type="checkbox" id="show-search">
       <input type="checkbox" id="show-menu">
       <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
 
       <div class="content">
       <div class="logo"><a href="#">
        <img src="img/foliohub-logo.png" width="30" height="30"> FolioHub </a>
       </div>
       <ul class="links">
 
          <li>
            <a href="#" class="desktop-link"><i class="fab fa-firefox-browser"><span> Browse </span></i></a>
            <input type="checkbox" id="show-featuresone">
            <label for="show-featuresone"><i class="fab fa-firefox-browser"><span> Browse </span></i></label>
            <ul>
              <li><a href="#">Projects</a></li>
              <li><a href="#">Developers</a></li>
            </ul>
          </li>
 
          <li>
            <a href="#" class="desktop-link"><i class="fas fa-envelope"> <span> Message </span></i></a>
            <input type="checkbox" id="show-featurestwo">
            <label for="show-featurestwo"><i class="fas fa-envelope"><span> Message </span></i></label>
            <ul>
              <li><a href="#">Compose Message</a></li>
              <li><a href="#">Inbox</a></li>
              <li><a href="#">Sent Box</a></li>
            </ul>
          </li>
 
          <li>
            <a href="#" class="desktop-link"><i class="fas fa-user"> <span> User </span></i></a>
            <input type="checkbox" id="show-featuresthree">
            <label for="show-featuresthree"><i class="fas fa-user"> <span> User </span></i></label>
            <ul>
              <li><a href="#">My Profile</a></li>
              <li><a href="#">Account Settings</a></li>
              <li><a href="#">Log Out</a></li>
            </ul>
          </li>
 
        </ul>
      </div>
 
       <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>
       <form action="#" class="search-box">
         <input type="text" placeholder="Type Something to Search..." required>
       </form>
    
     </nav>
   </div>
</header>

<!------- CONTENT ------->
<div class="user-info">
    <div class="heading">
        <h2>User Information</h2>
    </div>
  
    <div class="main-content">
        <img src="img/dezguman-pic.png">
  
        <div class="text-box">
            <h1><b>LORENCE JOY DE GUZMAN</b></h1>
            <p><b><span>Address:</span> </b>Baclaran, Balayan, Batangas 
              <br><b><span>Email:</span>
              </b>ljhey24deguzman@gmail.com</a>
              
              <div class="for-buttons">
                <button type="button" class="button">
                  <span class="button-icon">
                  <ion-icon name="create-outline"></ion-icon>
                  </span>
                  <span class="button-text">Education</span>
                </button>
       
                <button type="button" class="button">
                  <span class="button-icon">
                  <ion-icon name="create-outline"></ion-icon>
                  </span>
                  <span class="button-text">Employment</span>
                </button>
           
                <button type="button" class="button">
                  <span class="button-icon">
                  <ion-icon name="create-outline"></ion-icon>
                  </span>
                  <span class="button-text">Skills</span>
                </button>
              </div><br>
              
            <p>I am a third year Computer Science student from Technological University of the Philippines. Im a hardworking person with the ability in problem solving and a skills in coordination when it comes to team building.</p>

            <div class="for-buttons">
              <button type="button" class="button">
                <span class="button-icon">
                  <ion-icon name="arrow-down-circle-outline"></ion-icon>
                </span>
                <span class="button-text">Resume</span>
              </button>
     
              <button type="button" class="button">
                <span class="button-icon">
                  <ion-icon name="documents-outline"></ion-icon>
                </span>
                <span class="button-text">Projects</span>
              </button>
            </div>
    </div>
   </div>

        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</div>

 



