*{
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),
    url(img/bg.jpg) center/cover no-repeat fixed;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
header a{
    color: #ffffff;
}
.title{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
}
.main-title{
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: 4px;
    font-weight: 900;
}
.main-title span{
    color: #ffff80;
    font-weight: 900;
}
/* style in navigation */
.navbar{
    padding: 1.2rem;
}
.nav-container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand{
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}
.navbar-nav a{
    padding-right: 1.2rem;
    padding-left: 1.2rem;
    font-weight: 400;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    text-decoration: none;
}
.navbar-nav a:hover{
    color: /* #F05454; */ #febc58;
    transform: scale(1.1);
}
.navbar-toggler {
    padding: 0.3rem;
}
.fa-bars{
    color: #fff;
}
.title p{
    padding: 1rem 0 2rem 0;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 400;
    word-spacing: 3px;
    line-height: 1.2;
}
.title .button {
    width: 120px;
    padding: 8px 20px;
    background: none;
    color: #fff;    
    border: 1px solid #fff;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    
}
.title .button:hover{
    color: #1e1e1e;
    background: #fff;
    border: 1px solid #333;
    transform: scale(1.1);
}

::placeholder{
    color: #1e1e1e;
    padding:5px;
}
.search-input{
    height: 30px;
    background-color: #fff;
    color:#1e1e1e;
    border-radius: 30px;
    padding: 10px;
    width:25vw;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    border: #fff;
    background: transparent;
    outline: 0;
    cursor: pointer;
    color: #fff;
    margin-left: 0.5rem;
    margin-right: 1.5rem;
    padding: 0;
    text-align: left;
}
.search-btn:hover{
    color: /* #F05454; */ #febc58;
}

/* style in carousel */
.content{
    padding: 2rem 1rem 2rem 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f2e5d4;
}
#contentsection .post-heading h3 {
    padding-bottom: 30px;
    font-weight: bold;
    letter-spacing: 10px;
    color: #00303F;
}
.carousel-item img{
    transition: transform .4s;
}
.carousel-item img:hover{
    transform:scale(1.3)
}

/* style in footer */
footer{
    background: #333;
    color: #fff;
    text-align: center;
    padding: 2rem 0; 
}
.socmed-links{
    display: flex;
    justify-content:center;
    margin-bottom: 1.4rem;
}
.socmed-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
}
.socmed-links a:hover{
    transform: scale(1.2);
}
