<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FolioHub | SIGN IN</title>
	<link rel="icon" href="img/foliohub-logo.png">
	<link rel="stylesheet" href="style-signin-page.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
  	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Goblin+One&family=Noto+Serif+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&family=Ranchers&family=Slackey&family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="for-vector-pic">
			<img src="img/vector-image-signin.jpg">
		</div>
		<div class="signin-content">
			<form action="#">
				<h2>Welcome</h2>
           		<div class="input-div one">
           		   <div class="for-icons">
           		   		<i class="fas fa-user"></i>
           		   </div>
           		   <div class="for-content">
           		   		<input type="text" class="input" placeholder="Username">
						
           		   </div>
           		</div>

           		<div class="input-div two">
           		   <div class="for-icons"> 
           		    	<i class="fas fa-lock"></i>
           		   </div>
           		   <div class="for-content">
           		    	<input type="password" class="input" placeholder="Password">
            	   </div>
            	</div>

            	<a class="for-forgot" href="#">Forgot Password?</a>
            	
              <input type="submit" class="button-login" value="Login">
              <p>Don't have an account? <a class="for-create" href="index-signup-page1.html">Sign Up</a></p>
            </form>
        </div>
    </div>
</body>
</html>