<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>E - FOLIO | MESSAGE</title>
  <link rel="icon" href="img/ee.png">

  	<!------- CSS ------->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

	<link rel="stylesheet" href="style.css"></link>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer">

</head>
<body>
	
	<!------- NAVBAR ------->
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-opacity-50">
				<div class="container-fluid">
					<a class="navbar-brand" href="index.html">
						<img src="img/ee.png" width="30" height="30" class="d-inline-block align-top" alt="">
						E-FOLIO
					</a>
					<button type="button" class="navbar-toggler" 
					data-bs-toggle="collapse" 
					data-bs-target="#navbarCollapse">
			
					<i class="fas fa-bars"></i>
					</button>
		
					<div class="collapse navbar-collapse" id="navbarCollapse">
					<div class="navbar-nav ms-auto">

					<form>
						<input type="text" class="search-input" 
						placeholder="Search here...">
						<button type="submit" class="search-btn"> 
							<i class="fas fa-search"></i>
						</button>
					</form>
					
					<a class="sect" href="index.html">Home</a>
					<a class="sect" href="index.html">Browse</a>
  					<a class="sect" href="index.html">Sign in</a>
  					<a class="sect" href="index.html">Sign up</a>
				</div>
			</div>		
		</div>
	</nav>

	<!------- CONTENT ------->
	<section class="Form my-4 mx-5 w-50 mx-auto" id="messagecontainer">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-lg-7 px-4 pt-4 mx-auto">
					<h1 class="font-weight-bold py-3">
						<img src="img/ee.png" width="50" height="50" class="d-inline-block align-top" alt=""> E-FOLIO
					</h1>
					<h5>Compose a Message</h5>
		  
					<div class="form-floating mb-2">
					  <input type="name" class="form-control" id="floatingInput" style="height: 60px" placeholder="Name">
					  <label for="floatingInput"><i class="fa fa-user"></i> Name</label>
					</div>
		  
					<div class="form-floating mb-3">
					  <input type="text" class="form-control" id="floatingInput" style="height: 60px" placeholder="Email">
					  <label for="floatingInput"><i class="fa fa-envelope"></i> Email</label>
					</div>
		  
					<div class="form-floating mb-3">
					  <textarea class="form-control" placeholder="Message" id="floatingTextarea" style="height: 100px"></textarea>
					  <label for="floatingTextarea">Message</label>
					</div>

					<div class="col-lg-12">
						<button type="button" class="btn1 mt-2 mb-4">Submit</button>
					</div>
						
				</div>
			</div>
		</div>
	</section>

	<!------- FOOTER ------->
	<footer>
		<div class="socmed-links">
			<a href="index.html" target="_blank"> <i class="fab fa-facebook-f"></i></a>
            <a href="index.html" target="_blank"> <i class="fab fa-instagram"></i></a>
            <a href="index.html" target="_blank"> <i class="fab fa-twitter"></i></a>
            <a href="index.html" target="_blank"> <i class="fab fa-linkedin"></i></a>
		</div>
		<h5>Copyright &copy;2021 E - FOLIO | All Rights Reserved</h5>
	  </footer>
	































<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

</body>
</html>
