<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FolioHub | VIEW USER</title>
  <link rel="icon" href="img/foliohub-logo.png">
  <link rel="stylesheet" href="style-viewuser-page.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

<header>
    <!-- navigation -->
  <div class="wrapper">
   <nav>
     <input type="checkbox" id="show-search">
     <input type="checkbox" id="show-menu">
     <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>

     <div class="content">
     <div class="logo"><a href="#">
     <img src="img/foliohub-logo.png" width="30" height="30">
     FolioHub</a></div>
       <ul class="links">
         <li>
           <a href="#" class="navigation-link">Go Back</a>
           <input type="checkbox" id="show-features">
           <label for="show-features">Go Back</label>
         </li>
         <li><a href="#">Sign In</a></li>
       <li><a href="#" class="for-join">Join Us</a></li>
       </ul>
     </div>

     <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>

     <form action="#" class="search-box">
       <input type="text" placeholder="Type Something to Search..." required>
     </form>
    
   </nav>
 </div>
</header>

<!------- CONTENT ------->
<div class="user-info">
    <div class="heading">
        <h2>User Information</h2>
    </div>
  
    <div class="main-content">
        <img src="img/landicho-pic.jpg">
  
        <div class="text-box">
            <h1><b>IRIS LANDICHO</b></h1>
            <p><b><span>Address:</span> </b>Lukban St. Amparo Subd., Caloocan City 
              <br><b><span>Email:</span> </b>landichoiris@gmail.com</a>
            
            <div class="for-buttons">
                <button type="button" class="button">
                  <span class="button-icon">
                  <ion-icon name="create-outline"></ion-icon>
                  </span>
                  <span class="button-text">Education</span>
                </button>
       
                <button type="button" class="button">
                  <span class="button-icon">
                  <ion-icon name="create-outline"></ion-icon>
                  </span>
                  <span class="button-text">Employment</span>
                </button>
           
                <button type="button" class="button">
                  <span class="button-icon">
                  <ion-icon name="create-outline"></ion-icon>
                  </span>
                  <span class="button-text">Skills</span>
                </button>
            </div><br>
              
            <p>I am Iris Landicho, a third year Computer Science student from TUP Manila. My interests and hobbies are haywire. I do stuffs in all sorts but never got the chance to be good at it. But I at least try my hardest to help my peers with all the opportunities I have.</p>

            <div class="for-buttons">
              <button type="button" class="button">
                <span class="button-icon">
                  <ion-icon name="arrow-down-circle-outline"></ion-icon>
                </span>
                <span class="button-text">Resume</span>
              </button>
     
              <button type="button" class="button">
                <span class="button-icon">
                  <ion-icon name="documents-outline"></ion-icon>
                </span>
                <span class="button-text">Projects</span>
              </button>
            </div>
         
        </div>

        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    </div>
  </div


