<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FolioHub | ADD EDUCATION</title>
	<link rel="icon" href="img/foliohub-logo.png">
	<link rel="stylesheet" href="style-educ-page.css">
	<link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
  	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Goblin+One&family=Noto+Serif+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@300;400;500;600;700&family=Ranchers&family=Slackey&family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
    <div class="for-buttons">
        <button type="button" class="button" style="margin: 2px;">
            <span class="button-icon">
            <ion-icon name="arrow-undo-outline"></ion-icon>
            </span>
            <span class="button-text">Back</span>
        </button>
        <button type="button" class="button" style="margin: 2px;">
            <span class="button-icon">
            <ion-icon name="add-circle-outline"></ion-icon>
            </span>
            <span class="button-text">Add</span>
        </button>
    </div>
    <div>
            <table class="table" border="1">
                <thead style="text-align: center;">
                    <tr>
                        <th>School Name</th>
                        <th>Degree</th>
                        <th>Course</th>
                        <th>Year Start</th>
                        <th>Year End</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>TUP</td>
                        <td>Bachelor</td>
                        <td>Computer Science</td>
                        <td>2019</td>
                        <td>Present</td>
                        <td>
                            <button type="button" class="button" style="margin: 2px;">
                                <span class="button-icon">
                                    <ion-icon name="create-outline"></ion-icon>
                                </span>
                                <span class="button-text">Update</span>
                            </button>
                            <button type="button" class="button" style="margin: 2px;">
                                <span class="button-icon">
                                <ion-icon name="trash-outline"></ion-icon>
                                </span>
                                <span class="button-text">Delete</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Technological University of the Philippines</td>
                        <td>Master</td>
                        <td>Electrical and Communication Engineering</td>
                        <td>2013</td>
                        <td>Present</td>
                        <td>
                            <button type="button" class="button" style="margin: 2px;">
                                <span class="button-icon">
                                    <ion-icon name="create-outline"></ion-icon>
                                </span>
                                <span class="button-text">Update</span>
                            </button>
                            <button type="button" class="button" style="margin: 2px;">
                                <span class="button-icon">
                                <ion-icon name="trash-outline"></ion-icon>
                                </span>
                                <span class="button-text">Delete</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Electronics and Communication Engineering</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>
                            <button type="button" class="button" style="margin: 2px;">
                                <span class="button-icon">
                                    <ion-icon name="create-outline"></ion-icon>
                                </span>
                                <span class="button-text">Update</span>
                            </button>
                            <button type="button" class="button" style="margin: 2px;">
                                <span class="button-icon">
                                <ion-icon name="trash-outline"></ion-icon>
                                </span>
                                <span class="button-text">Delete</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Cell 1</td>
                        <td>Cell 2</td>
                        <td>Cell 3</td>
                        <td>Cell 4</td>
                        <td>Cell 5</td>
                        <td>
                            <button type="button" class="button" style="margin: 2px;">
                                <span class="button-icon">
                                    <ion-icon name="create-outline"></ion-icon>
                                </span>
                                <span class="button-text">Update</span>
                            </button>
                            <button type="button" class="button" style="margin: 2px;">
                                <span class="button-icon">
                                <ion-icon name="trash-outline"></ion-icon>
                                </span>
                                <span class="button-text">Delete</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>