@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.slider{
  max-width: 970px;
  display: flex;
}
a{
  text-decoration: none;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.9);
  transition: 0.2s;
  min-height: 50vh;
}
.slider .card:hover{
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9); 
  transform: scale(0.9);  
  cursor: pointer;
}
.slider .card .card-image{
  height: 175px;
  width: 100%;
}
.slider .card .card-image img{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  object-fit: fill;
}
.portrait{
  max-width: 50%;
  max-height: 100vh;
  margin-left: 25%;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
.card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
  text-align: center;
}
.card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}
.card .content .btn button:hover{
  transform: scale(1.2);
}
.text-ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}
.for-buttons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.button {
  display: flex;
  height: 50px;
  padding: 0;
  margin: 1rem;
  background: #2d66d198;
  border: none;
  outline: none;
  border-radius: 25px;
  overflow: hidden;
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(0, 0, 0, 0.20);
}
.button:hover {
  background: #008168;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4), 0 8px 20px 0 rgba(206, 175, 175, 0.2);
  transform: scale(1.1);
}
.for-buttons .button-text{
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  height: 100%;
  font-weight: 580;
}
.for-buttons .button-icon {
  display: inline-flex;
  align-items: center;
  padding: 0 15px;
  color: #fff;
  height: 100%;
} 
.button-icon {
  font-size: 1.5em;
  background: rgba(0, 0, 0, 0.08);
}

