<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>FolioHub | DEVELOPERS</title>
  <link rel="icon" href="img/foliohub-logo.png">
  <link rel="stylesheet" href="style-dev-page.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

<header>
    <!-- navigation -->
  <div class="wrapper">
   <nav>
     <input type="checkbox" id="show-search">
     <input type="checkbox" id="show-menu">
     <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>

     <div class="content">
     <div class="logo"><a href="#">
     <img src="img/foliohub-logo.png" width="30" height="30">
     FolioHub</a></div>
       <ul class="links">
         <li>
           <a href="index.html" class="navigation-link">Go Back</a>
           <input type="checkbox" id="show-features">
           <label for="show-features">Go Back</label>
         </li>
         <li><a href="#">Sign In</a></li>
       <li><a href="#" class="for-join">Join Us</a></li>
       </ul>
     </div>

     <label for="show-search" class="search-icon"><i class="fas fa-search"></i></label>

     <form action="#" class="search-box">
       <input type="text" placeholder="Type Something to Search..." required>
     </form>
    
   </nav>
 </div>
</header>
<!-- content -->
<div class="developer" id="developer-section">
   <div class="heading text-center">
      <h3>The Developers</h3>

<div class="section-container" id="content-section">
  <div class="columns content">
     <div class="content-container">
        <h1 class="dev-name">Elaine S. Andus</h1>
        <p class="position">Front-end developer</p>
        <p>
           Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia blanditiis veniam iste consequuntur, quis assumenda quasi mollitia, consectetur ratione reprehenderit asperiores tempora voluptates necessitatibus nihil, exercitationem laudantium reiciendis laboriosam est voluptas tempore aliquam id quo repudiandae? Aspernatur ipsam reprehenderit quaerat.
        </p>
     </div>
  </div>
    <div class="columns image">
      <img src="img/andus-pic.jpg" height="80%">
     &nbsp;
    </div>
</div>

<div class="section-container">
    <div class="columns image">
      <img src="img/dezguman-pic.png"height="80%">
     &nbsp;
  </div>
  <div class="columns content">
     <div class="content-container">
        <h1 class="dev-name">Lorence Joy De Guzman</h1>
        <p class="position">Front-end developer</p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia blanditiis veniam iste consequuntur, quis assumenda quasi mollitia, consectetur ratione reprehenderit asperiores tempora voluptates necessitatibus nihil, exercitationem laudantium reiciendis laboriosam est voluptas tempore aliquam id quo repudiandae? Aspernatur ipsam reprehenderit quaerat.
        </p>
     </div>
  </div>
</div>

<div class="section-container" id="content-section">
   <div class="columns content">
      <div class="content-container">
         <h1 class="dev-name">Iris Landicho</h1>
         <p class="position">Front-end developer</p>
         <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia blanditiis veniam iste consequuntur, quis assumenda quasi mollitia, consectetur ratione reprehenderit asperiores tempora voluptates necessitatibus nihil, exercitationem laudantium reiciendis laboriosam est voluptas tempore aliquam id quo repudiandae? Aspernatur ipsam reprehenderit quaerat.
         </p>
      </div>
   </div>
     <div class="columns image">
       <img src="img/landicho-pic.jpg" height="80%">
      &nbsp;
     </div>
</div>

      <div class="section-container">
         <div class="columns image">
           <img src="img/herrero-pic.jpg" height="80%">
          &nbsp;
       </div>
       <div class="columns content">
          <div class="content-container">
             <h1 class="dev-name">Wendell Herrero</h1>
             <p class="position">Back-end developer</p>
             <p>
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia blanditiis veniam iste consequuntur, quis assumenda quasi mollitia, consectetur ratione reprehenderit asperiores tempora voluptates necessitatibus nihil, exercitationem laudantium reiciendis laboriosam est voluptas tempore aliquam id quo repudiandae? Aspernatur ipsam reprehenderit quaerat.
             </p>
          </div>
       </div>
     </div>
     
     <div class="section-container" id="content-section">
        <div class="columns content">
           <div class="content-container">
              <h1 class="dev-name">Patrick Yee</h1>
              <p class="position">Back-end developer</p>
              <p>
                 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia blanditiis veniam iste consequuntur, quis assumenda quasi mollitia, consectetur ratione reprehenderit asperiores tempora voluptates necessitatibus nihil, exercitationem laudantium reiciendis laboriosam est voluptas tempore aliquam id quo repudiandae? Aspernatur ipsam reprehenderit quaerat.
              </p>
           </div>
        </div>
          <div class="columns image">
            <img src="img/yee-pic.jpg" height="80%">
           &nbsp;
          </div>
     </div>

     <div class="section-container">
      <div class="columns image">
        <img src="img/rosales-pic.png" height="80%">
       &nbsp;
    </div>
    <div class="columns content">
       <div class="content-container">
          <h1 class="dev-name">Earl Benjamin Rosales</h1>
          <p class="position">Back-end developer</p>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia blanditiis veniam iste consequuntur, quis assumenda quasi mollitia, consectetur ratione reprehenderit asperiores tempora voluptates necessitatibus nihil, exercitationem laudantium reiciendis laboriosam est voluptas tempore aliquam id quo repudiandae? Aspernatur ipsam reprehenderit quaerat.
          </p>
       </div>
    </div>
  </div>
  
  <div class="section-container" id="content-section">
     <div class="columns content">
        <div class="content-container">
           <h1 class="dev-name">Jehiel Caspillan</h1>
           <p class="position">Back-end developer</p>
           <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officia blanditiis veniam iste consequuntur, quis assumenda quasi mollitia, consectetur ratione reprehenderit asperiores tempora voluptates necessitatibus nihil, exercitationem laudantium reiciendis laboriosam est voluptas tempore aliquam id quo repudiandae? Aspernatur ipsam reprehenderit quaerat.
           </p>
        </div>
     </div>
       <div class="columns image">
         <img src="img/caspillan-pic.png" height="80%">
        &nbsp;
       </div>
  </div>

</header>

   </div> 
</div> 

</body>
</html>