<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FolioHub | Page Not Found</title>
    <link rel="icon" href="img/foliohub-logo.png">
    <link rel="stylesheet" href="style-pagenotfound.css">
</head>
<body>
    <div>
        <img class="image" src="img/vector-image-pagenotfound.png">
        <div class="wrapper">
            <h1>OOPS! Page Not Found</h1>
            <p class="message">We're sorry, the page you requested could not be found.</p>
            <a href="index-pagenotfound.html" class="btn-goback">Go Back to Home</a>
        </div>
    </div>
</body>
</html>