<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FolioHub | VIEW PROJECT</title>
    <link rel="icon" href="img/foliohub-logo.png">
    <link rel="stylesheet" href="style-viewproject-page.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>

<body>
  <div class="slider owl-carousel">
      <div class="card">
        <div class="card-image">
          <img src="caspillan/PR1caspillan-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Payroll Calculator</div>
            <div class="sub-title">
              Jehiel Caspillan</div>
            <p class="text-ellipsis">
              One of the projects that is made in Visual Studio. The system is called Simple Payroll Calculator where you can compute the gross pay and net pay of an employee. The user can also select to print the pay slip if he wants to have a copy.</p>
            <div div class="btn">
              <a href="index-caspillan-viewspecproject1-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="portrait" src="caspillan/PR2caspillan-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Imusenyo</div>
            <div class="sub-title">
              Jehiel Caspillan</div>
            <p class="text-ellipsis">
              This shirt was made for a contest in Imus, Cavite. The design of the t-shirt is drawn by hand and applied it on this virtual t-shirt using a mobile art app.</p>
            <div div class="btn">
               <a href="index-caspillan-viewspecproject2-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="caspillan/PR3caspillan-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Color Game</div>
            <div class="sub-title">
              Jehiel Caspillan</div>
            <p class="text-ellipsis">
              This system is also created in Visual Studio. When the user pick one from the options, another form or page will pop up full of different colors so that the user can pick which color does he want to apply on his box from the main form.</p>
            <div div class="btn">
               <a href="index-caspillan-viewspecproject3-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="caspillan/PR4caspillan-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Wi-Fi Connection</div>
            <div class="sub-title">
              Jehiel Caspillan</div>
            <p class="text-ellipsis">
              An activity for the subject Networks and Security. It shows how the school buildings got some connection from the internet.</p>
            <div div class="btn">
               <a href="index-caspillan-viewspecproject4-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="caspillan/PR5caspillan-page1.jpg" alt=""></div>
          <div class="content">
            <div class="title">
              Cellular Order</div>
            <div class="sub-title">
              Jehiel Caspillan</div>
            <p class="text-ellipsis">
              A simple invoice form that is created in Visual Studio. This project will compute the quantity and total price of the phones ordered. Aside from that, this system will let the user to enter the personal details to be included in the invoice.</p>
            <div div class="btn">
               <a href="index-caspillan-viewspecproject5-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>
      
      <div class="card">
        <div class="card-image">
          <img src="caspillan/PR6caspillan-page1.jpg" alt=""></div>
          <div class="content">
            <div class="title">
              Selection Controls</div>
            <div class="sub-title">
              Jehiel Caspillan</div>
            <p class="text-ellipsis">
              This project is made in Visual Studio to let the users enter some text and experiment the output of it by clicking the following options like change font property and change forecolor property.</p>
            <div div class="btn">
               <a href="index-caspillan-viewspecproject6-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="caspillan/PR7caspillan-page1.jpg" alt=""></div>
          <div class="content">
            <div class="title">
              Distance Sensor</div>
            <div class="sub-title">
              Jehiel Caspillan</div>
            <p class="text-ellipsis">
              This project is a prototype on the breadboard with distance sensor and rgb led. The red led will turn on if there’s an object that can sense by the sensor. The green led will turn on if there’s no object within the distance sensor can sense.</p>
            <div div class="btn">
               <a href="index-caspillan-viewspecproject7-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>
  </div>

  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </span>
      <span class="button-text">Previous Page</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="home-outline"></ion-icon>
      </span>
      <span class="button-text">Back to Home</span>
    </button>
  </div>

    <script>
      $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
      });
    </script>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>