<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FolioHub | VIEW PROJECT</title>
    <link rel="icon" href="img/foliohub-logo.png">
    <link rel="stylesheet" href="style-viewproject-page.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>

<body>
  <div class="slider owl-carousel">
      <div class="card">
        <div class="card-image">
          <img src="yee/PR1yee-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              OS Concepts</div>
            <div class="sub-title">
              Patrick Yee</div>
            <p class="text-ellipsis">
              A program that will determine the request which is to be satisfied next, reserve a partial or complete portion of computer memory for the execution of programs and processes and will decide which memory pages to page out or sometimes called swap out, or write to disk, when a page of memory needs to be allocated</p>
            <div div class="btn">
              <a href="index-yee-viewspecproject1-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="yee/PR2yee-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Web Robot</div>
            <div class="sub-title">
              Patrick Yee</div>
            <p class="text-ellipsis">
              This Instructible will show you how to build your own Web Connected Robot (using an Arduino micro-controller and Asus pc). Why would you want a Web Connected Robot? To play with of course. Drive your robot from across the room or across the country, using nothing more than Skype and a web browser (nothing to install on the controlling computer). After that? Dig into the software & adapt it however you like, add a GPS so you can watch where you're driving on a map, add temperature sensors to map temperature gradients in your house, or sonar sensors to add controls on what you're web drivers can and cannot run into.
            </p>
            <div div class="btn">
              <a href="index-yee-viewspecproject2-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="yee/PR3yee-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Arduino Sous-vide</div>
            <div class="sub-title">
              Patrick Yee</div>
            <p class="text-ellipsis">
              Sous-vide cooking allows you to precisely control the temperature of cooked food (how "doneness" is measured) by immersing it in a carefully controlled water bath. It's possible, but seriously difficult, to do this just with a thermometer and a pot on the stove... but if you have an Arduino do all the hard work for you, you can literally "set it and forget it."</p>
            <div div class="btn">
              <a href="index-yee-viewspecproject3-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="yee/PR4yee-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Cat Bot</div>
            <div class="sub-title">
              Patrick Yee</div>
            <p class="text-ellipsis">
              The CatBot is an autonomous laser toy for your cat. You may say "But Joe, isn't the laser pointer the best toy for the lazy cat owner?" I'd have to say no, the CatBot takes one step further. Using two servos, an Arduino and a cheap $3 laser you can provide your cat with endless fun.</p>
            <div div class="btn">
              <a href="index-yee-viewspecproject4-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>
  </div>

  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </span>
      <span class="button-text">Previous Page</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="home-outline"></ion-icon>
      </span>
      <span class="button-text">Back to Home</span>
    </button>
  </div>

    <script>
      $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
      });
    </script>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>