<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FolioHub | VIEW PROJECT</title>
    <link rel="icon" href="img/foliohub-logo.png">
    <link rel="stylesheet" href="style-viewproject-page.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>

<body>
  <div class="slider owl-carousel">
      <div class="card">
        <div class="card-image">
          <img src="landicho/PR1landicho-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Payroll Calculator</div>
            <div class="sub-title">
              Iris Landicho</div>
            <p class="text-ellipsis">
              This is a payroll calculator also made with Visual Basic. It simply calculates an employee's monthly wage deducted with their taxes such as Philhealth, Pagibig, and SSS.</p>
            <div div class="btn">
              <a href="index-landicho-viewspecproject1-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

    <div class="card">
        <div class="card-image">
          <img class="portrait" src="landicho/PR2landicho-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Selection Control</div>
            <div class="sub-title">
              Iris Landicho</div>
            <p class="text-ellipsis">
              Using Visual Basic, this selection control converts or transform a normal text written by the user into a text with a font style and/or forecolor selected and applied by the user.</p>
            <div div class="btn">
              <a href="index-landicho-viewspecproject2-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="img/default.jpg" alt=""></div>
          <div class="content">
            <div class="title">
              Project3-NAME</div>
            <div class="sub-title">
              Iris Landicho</div>
            <p class="text-ellipsis">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa laudantium amet ut. Voluptatibus explicabo earum, officia omnis, excepturi, quisquam maxime iste reiciendis eius autem quaerat eos fuga laboriosam ullam sed?</p>
            <div div class="btn">
              <a href="#" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>
  </div>

  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </span>
      <span class="button-text">Previous Page</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="home-outline"></ion-icon>
      </span>
      <span class="button-text">Back to Home</span>
    </button>
  </div>

    <script>
      $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
      });
    </script>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>