<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>FolioHub | VIEW PROJECT</title>
   <link rel="icon" href="img/foliohub-logo.png">
   <link rel="stylesheet" href="style-viewproject-page.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

</head>
<body>
<section class="top-buttons">
   </section>
         <div class="slider owl-carousel">
           <div class="card">
               <div class="card-image">
                 <img src="andus/PR1andus-arduino-page1.PNG" alt=""></div>
                 <div class="content">
                   <div class="title">
                     Arduino Projects</div>
                   <div class="sub-title">
                     Elaine S. Andus</div>
                   <p class="text-ellipsis">
                     Arduino Projects is an Arduino website developed by Elaine S. Andus. Inside the website contains what exactly is an Arduino, its definition, why do we use it and the 10 different and simple Arduino projects that any beginners can try and do on their own. Learning Arduino is not easy as you’ll need to understand the hardware, programming, and connection methods. Fret not. The Arduino Projects website got you covered. Interested in Arduino projects but not sure where to begin? Why not try these 10 simple projects that will surely get you going.</p>
                   <div class="btn">
                     <a href="index-andus-viewspecproject1-page.html" target="_blank"><button>Read more</button></a></div>
                 </div>
             </div>
       
           <div class="card">
               <div class="card-image">
                 <img src="andus/PR6andus-travel-page1.PNG" alt=""></div>
                 <div class="content">
                   <div class="title">
                     GoTraventour</div>
                   <div class="sub-title">
                     Elaine S. Andus</div>
                   <p class="text-ellipsis">
                     GoTraventour is a travel website developed by Elaine S. Andus. The purpose of this website is to provide information related to local or international tourists’ destinations. When you are planning trips to where you are not familiar with, you may need to look into them. It is a trendy and fully editable asset, perfectly suitable for promoting your travel agency. It can also be a perfect solution for tour operators, car rentals, or any other business in the tourism industry. This travel agency HTML website comes with everything needed to present your services in the best light. Its top-notch features encourage you to create a professional website without high-level coding skills.</p>
                   <div class="btn">
                     <a href="index-andus-viewspecproject6-page.html" target="_blank"><button>Read more</button></a></div>
                 </div>
             </div>
       
             <div class="card">
               <div class="card-image">
                 <img src="andus/PR4andus-shortener-page1.PNG" alt=""></div>
                 <div class="content">
                   <div class="title">
                     ShortenLink</div>
                   <div class="sub-title">
                     Elaine S. Andus</div>
                   <p class="text-ellipsis">
                     ShortenLink is a free URL shortener template website developed by Elaine S. Andus. Since the dawn of the internet, links have been the way to get from one place to another online. Think about it, you either start by searching for something and then clicking a link, or by typing a link directly into your browser’s address bar. There’s no other way to get around. So, this website was made involving everything to do with links. Its purpose is simply to compress, shrink or shorten any link you will input.</p>
                   <div class="btn">
                     <a href="index-andus-viewspecproject4-page.html" target="_blank"><button>Read more</button></a></div>
                 </div>
             </div>
       
             <div class="card">
               <div class="card-image">
                 <img src="andus/PR5andus-hotel-page1.PNG" alt=""></div>
                 <div class="content">
                   <div class="title">
                     HometelRoyale</div>
                   <div class="sub-title">
                     Elaine S. Andus</div>
                   <p class="text-ellipsis">
                     HometelRoyale is a hotel booking website developed by Elaine S. Andus. With most travelers today now booking their stays online, hotels have had to become reliant on online travel agents to deliver them reservations. Listing on them includes the benefits of reaching large, new, audiences and increasing bookings but each reservation requires a commission fee to be paid to the third-party. This website was made as a source of information for both guests and a hotel. It contains the domain name, what it offers, contact information, reviews, and all you need to learn about HometelRoyale hotel.</p>
                   <div class="btn">
                     <a href="index-andus-viewspecproject5-page.html" target="_blank"><button>Read more</button></a></div>
                 </div>
             </div>
       
             <div class="card">
               <div class="card-image">
                 <img src="andus/PR3andus-hashcrypt-page1.png" alt=""></div>
                 <div class="content">
                   <div class="title">
                     Encrypt vs Hash</div>
                   <div class="sub-title">
                     Elaine S. Andus</div>
                     <p class="text-ellipsis">
                     Encryption vs Hashing is a tutorial video created by Elaine S. Andus. Quick, do you know the difference between encryption and hashing? Do you know what symmetric encryption and asymmetric encryption are? Do you think to encrypt and to hash is almost the same? If you pay any attention to the world of cybersecurity, you’re likely to hear these terms bandied about. Oftentimes without any explanation. So, this tutorial video project I made in Information Assurance and Security tackles mainly about the differences between encryption and hashing and its algorithm.</p>
                   <div class="btn">
                     <a href="index-andus-viewspecproject3-page.html" target="_blank"><button>Read more</button></a></div>
                 </div>
             </div>
       
             <div class="card">
               <div class="card-image">
                 <img src="andus/PR2andus-portfolio-page1.PNG" alt=""></div>
                 <div class="content">
                   <div class="title">
                     AndusWebsite</div>
                   <div class="sub-title">
                     Elaine S. Andus</div>
                   <p class="text-ellipsis">
                     AndusWebsite is a portfolio website developed by Elaine S. Andus. It is becoming increasingly important for computer scientists, and other creative and professional people to have a way to showcase and promote their work. Regardless of the medium(s) you work with, a portfolio will give more people access to your work and a better idea of your abilities. So, I made this website not only for project requirement but for future purposes. My website displays my skills and projects in a robust and visual way that complements the information in my Curriculum Vitae. Another good thing it provides is, it also allows me to organize my work in one place environment.</p>
                   <div class="btn">
                     <a href="index-andus-viewspecproject2-page.html" target="_blank"><button>Read more</button></a></div>
                 </div>
             </div>
       
             <div class="card">
               <div class="card-image">
                 <img src="andus/PR7andus-calculator-page1.PNG" alt=""></div>
                 <div class="content">
                   <div class="title">
                     CalculateIt</div>
                   <div class="sub-title">
                     Elaine S. Andus</div>
                   <p class="text-ellipsis">
                     CalculateIt is a free basic online calculator website developed by Elaine S. Andus. It contains a simple user interface and yet incredible functionality. This is primarily a simple basic calculator with memory functions similar to handheld calculator we use in our daily lives. You can enjoy calculating and use this basic online calculator website any time for math problems that include its operators mainly: addition, subtraction, division, and multiplication.</p>
                   <div class="btn">
                     <a href="index-andus-viewspecproject7-page.html" target="_blank"><button>Read more</button></a></div>
                 </div>
             </div>
         </div>
            
         <div class="for-buttons">
          <button type="button" class="button">
            <span class="button-icon">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </span>
            <span class="button-text">Previous Page</span>
          </button>

          <button type="button" class="button">
            <span class="button-icon">
              <ion-icon name="add-circle-outline"></ion-icon>
            </span>
            <span class="button-text">Add Project</span>
          </button>
      
          <button type="button" class="button">
            <span class="button-icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="button-text">Back to Home</span>
          </button>
        </div>
       
           <script>
             $(".slider").owlCarousel({
               loop: true,
               autoplay: true,
               autoplayTimeout: 2000, //2000ms = 2s;
               autoplayHoverPause: true,
             });
           </script>
       
       <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>