<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FolioHub | VIEW SPECIFIC PROJECT</title>
    <link rel="stylesheet" href="style-viewspecific-page.css">
<link rel="icon" href="img/foliohub-logo.png">
</head>
<body>
 
  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="duplicate-outline"></ion-icon>
      </span>
      <span class="button-text">Add Images</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="create-outline"></ion-icon>
      </span>
      <span class="button-text">Update Project</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="trash-outline"></ion-icon>
      </span>
      <span class="button-text">Delete Project</span>
    </button>
  </div>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 4</div>
    <img src="deguzman/PR2deguzman-page1.PNG" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 4</div>
    <img src="deguzman/PR2deguzman-page2.PNG">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 4</div>
    <img src="deguzman/PR2deguzman-page3.PNG">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 4</div>
    <img src="deguzman/PR2deguzman-page4.PNG">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!-- <div class="caption-container">
    <p id="caption"></p>
  </div> -->

  <div class="caption-container">
    <div class="for-buttons">
      <button type="button" class="button-carousel">
        <span class="button-icon">
          <ion-icon name="image-outline"></ion-icon>
        </span>
        <span class="button-text">Make as a Cover</span>
      </button>
  
      <button type="button" class="button-carousel">
        <span class="button-icon">
          <ion-icon name="trash-outline"></ion-icon>
        </span>
        <span class="button-text">Delete Image</span>
      </button>
      <p id="caption"></p>
    </div></button></div>

  <div class="row">

    <div class="column">
      <img class="demo cursor" src="deguzman/PR2deguzman-page1.png" style="width:100%" onclick="currentSlide(1)">
    </div>
    <div class="column">
      <img class="demo cursor" src="deguzman/PR2deguzman-page2.png" style="width:100%" onclick="currentSlide(1)">
    </div>
    <div class="column">
      <img class="demo cursor" src="deguzman/PR2deguzman-page3.png" style="width:100%" onclick="currentSlide(1)">
    </div>
    <div class="column">
      <img class="demo cursor" src="deguzman/PR2deguzman-page4.png" style="width:100%" onclick="currentSlide(1)">
    </div>
  
  </div>
</div>

<div class="project-description">
    <div class="project-content">
        <h1 class="project-name">To-Do List App</h1>
        <p class="project-developer">Lorence Joy De Guzman</p>

        <div class="text-content">
            <p>To-Do List App is an application that helps user to list down all the important agendas and tasks that needs to be carry out. Using this app effectively will result to an organized and more reliable list of tasks that can be managed through your Computer, Tablet, and mobile phone.
        <br>
        <br>
        </div>

        <div class="for-buttons">
          <a class="button" href="index-deguzman-viewproject-page.html">
            <span class="button-icon">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </span>
            <span class="button-text">Previous Page</span>
          </a>

          <a class="button" href="" target="_blank">
            <span class="button-icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="button-text">Back to Home</span>
          </a>
        </div>

    </div> 
</div> 

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    
</body>
</html>
