<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FolioHub | VIEW SPECIFIC PROJECT</title>
    <link rel="stylesheet" href="style-viewspecific-page.css">
<link rel="icon" href="img/foliohub-logo.png">
</head>
<body>
 
  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="duplicate-outline"></ion-icon>
      </span>
      <span class="button-text">Add Images</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="create-outline"></ion-icon>
      </span>
      <span class="button-text">Update Project</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="trash-outline"></ion-icon>
      </span>
      <span class="button-text">Delete Project</span>
    </button>
  </div>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 1</div>
    <img src="andus/PR5andus-hotel-page1.PNG" style="width:100%">
  </div>

 <!--  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="andus/PR5andus-hotel-page2.PNG">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="andus/PR5andus-hotel-page3.PNG">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="andus/PR5andus-hotel-page4.PNG">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="andus/PR5andus-hotel-page5.PNG">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="andus/PR5andus-hotel-page6.PNG">
  </div> -->
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!-- <div class="caption-container">
    <p id="caption"></p>
  </div> -->

  <div class="caption-container">
    <div class="for-buttons">
      <button type="button" class="button-carousel">
        <span class="button-icon">
          <ion-icon name="image-outline"></ion-icon>
        </span>
        <span class="button-text">Make as a Cover</span>
      </button>
  
      <button type="button" class="button-carousel">
        <span class="button-icon">
          <ion-icon name="trash-outline"></ion-icon>
        </span>
        <span class="button-text">Delete Image</span>
      </button>
      <p id="caption"></p>
    </div></button></div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="andus/PR5andus-hotel-page1.PNG" style="width:100%" onclick="currentSlide(1)">
    </div>
    <!-- <div class="column">
      <img class="demo cursor" src="andus/PR5andus-hotel-page2.PNG" style="width:100%" onclick="currentSlide(2)">
    </div>
    <div class="column">
      <img class="demo cursor" src="andus/PR5andus-hotel-page3.PNG" style="width:100%" onclick="currentSlide(3)">
    </div>
    <div class="column">
      <img class="demo cursor" src="andus/PR5andus-hotel-page4.PNG" style="width:100%" onclick="currentSlide(4)">
    </div>
    <div class="column">
      <img class="demo cursor" src="andus/PR5andus-hotel-page5.PNG" style="width:100%" onclick="currentSlide(5)">
    </div>    
    <div class="column">
      <img class="demo cursor" src="andus/PR5andus-hotel-page6.PNG" style="width:100%" onclick="currentSlide(6)">
    </div> -->
  </div>
</div>

<div class="project-description">
    <div class="project-content">
        <h1 class="project-name">HometelRoyale</h1>
        <p class="project-developer">Elaine S. Andus</p>

        <div class="text-content">
            <p>HometelRoyale is a hotel booking website developed by Elaine S. Andus. With most travelers today now booking their stays online, hotels have had to become reliant on online travel agents to deliver them reservations. Listing on them includes the benefits of reaching large, new, audiences and increasing bookings but each reservation requires a commission fee to be paid to the third-party. This website was made as a source of information for both guests and a hotel. It contains the domain name, what it offers, contact information, reviews, and all you need to learn about HometelRoyale hotel.
        <br>
        <br>
        </div>

        <div class="for-buttons">
          <a class="button" href="index-andus-viewproject-page.html">
            <span class="button-icon">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </span>
            <span class="button-text">Previous Page</span>
          </a>

          <a class="button" href="" target="_blank">
            <span class="button-icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="button-text">Back to Home</span>
          </a>
        </div>

    </div> 
</div> 

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    
</body>
</html>
