<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FolioHub | VIEW SPECIFIC PROJECT</title>
    <link rel="stylesheet" href="style-viewspecific-page.css">
<link rel="icon" href="img/foliohub-logo.png">
</head>
<body>
 
  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="duplicate-outline"></ion-icon>
      </span>
      <span class="button-text">Add Images</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="create-outline"></ion-icon>
      </span>
      <span class="button-text">Update Project</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="trash-outline"></ion-icon>
      </span>
      <span class="button-text">Delete Project</span>
    </button>
  </div>

<div class="container">
  <div class="mySlides">
    <div class="numbertext">1 / 6</div>
    <img src="rosales/PR4rosales-page1.png" style="width:100%">
  </div>

  <div class="mySlides">
    <div class="numbertext">2 / 6</div>
    <img src="rosales/PR4rosales-page2.png">
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
    <img src="rosales/PR4rosales-page3.png">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
    <img src="rosales/PR4rosales-page4.png">
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
    <img src="rosales/PR4rosales-page5.png">
  </div>
    
  <div class="mySlides">
    <div class="numbertext">6 / 6</div>
    <img src="rosales/PR4rosales-page6.png">
  </div>
    
  <a class="prev" onclick="plusSlides(-1)">❮</a>
  <a class="next" onclick="plusSlides(1)">❯</a>

  <!-- <div class="caption-container">
    <p id="caption"></p>
  </div> -->

  <div class="caption-container">
    <div class="for-buttons">
      <button type="button" class="button-carousel">
        <span class="button-icon">
          <ion-icon name="image-outline"></ion-icon>
        </span>
        <span class="button-text">Make as a Cover</span>
      </button>
  
      <button type="button" class="button-carousel">
        <span class="button-icon">
          <ion-icon name="trash-outline"></ion-icon>
        </span>
        <span class="button-text">Delete Image</span>
      </button>
      <p id="caption"></p>
    </div></button></div>

  <div class="row">
    <div class="column">
      <img class="demo cursor" src="rosales/PR4rosales-page1.png" style="width:100%" onclick="currentSlide(1)">
    </div>
    <div class="column">
      <img class="demo cursor" src="rosales/PR4rosales-page2.png" style="width:100%" onclick="currentSlide(2)">
    </div>
    <div class="column">
      <img class="demo cursor" src="rosales/PR4rosales-page3.png" style="width:100%" onclick="currentSlide(3)">
    </div>
    <div class="column">
      <img class="demo cursor" src="rosales/PR4rosales-page4.png" style="width:100%" onclick="currentSlide(4)">
    </div>
    <div class="column">
      <img class="demo cursor" src="rosales/PR4rosales-page5.png" style="width:100%" onclick="currentSlide(5)">
    </div>    
    <div class="column">
      <img class="demo cursor" src="rosales/PR4rosales-page6.png" style="width:100%" onclick="currentSlide(6)">
    </div>
  </div>
</div>

<div class="project-description">
    <div class="project-content">
        <h1 class="project-name">CPU Scheduling</h1>
        <p class="project-developer">Benjamin Rosales</p>

        <div class="text-content">
            <p>The CPU Scheduling Simulator is a software that simulates and visualizes the different techniques of CPU Scheduling, which includes First Come, First Serve (FCFS), Shortest Job First (SJF), Shortest Remaining Job First (SRJF), Round Robin (RR), Non – Preemptive (NP) and Preemptive. This program calculates the Waiting time, Response time and Turnaround time, as well as its averages. A Gantt Chart representation of the scheduling is also displayed, with the processes represented by different colors to distinguish easier. A comparative table is accessible within the program for the comparison of the said techniques.
        <br>
        <br>
        </div>

        <div class="for-buttons">
          <a class="button" href="index-rosales-viewproject-page.html" target="_blank">
            <span class="button-icon">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </span>
            <span class="button-text">Previous Page</span>
          </a>

          <a class="button" href="#" target="_blank">
            <span class="button-icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="button-text">Back to Home</span>
          </a>
        </div>

        <!-- <button type="button" class="button">
            <span class="button-icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="button-text">Back to Home</span>
          </button> -->

    </div> 
</div> 

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

    
</body>
</html>
