<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>FolioHub | VIEW PROJ</title>
   <link rel="icon" href="img/foliohub-logo.png">
   <link rel="stylesheet" href="style-viewproject-page.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

</head>
<body>
<section class="top-buttons">
  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="add-circle-outline"></ion-icon>
      </span>
      <span class="button-text">Add Project</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="create-outline"></ion-icon>
      </span>
      <span class="button-text">Update Project</span>
    </button>
  </div>
   </section>
   <div class="slider owl-carousel">
    <div class="card">
      <div class="card-image">
        <img src="rosales/PR1rosales-page1.png" alt=""></div>
        <div class="content">
          <div class="title">
            Inventory Program</div>
          <div class="sub-title">
            Benjamin Rosales</div>
          <p class="text-ellipsis">
            Inventory Program is a program used to register IP Addresses and other necessary details. The main purpose of this program is to store, update, and delete IP addresses or their details. This inventory offers an efficient way of handling large amount information and the ability to access the data of the registered IP Addresses.</p>
          <div div class="btn">
            <a href="index-rosales-viewspecproject1-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="rosales/PR2rosales-page1.png" alt=""></div>
        <div class="content">
          <div class="title">
            Sample Payroll</div>
          <div class="sub-title">
            Benjamin Rosales</div>
          <p class="text-ellipsis">
            Sample Payroll application computes an Employee's Gross pay and Net pay, based on the days the Employee had worked and the rate per day. It also deducts taxes and miscellaneous fees. Sample Payroll can also print the payroll.</p>
          <div div class="btn">
            <a href="index-rosales-viewspecproject2-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img class="portrait" src="rosales/PR3rosales-page1.png" alt=""></div>
        <div class="content">
          <div class="title">
            Subnet Calculator</div>
          <div class="sub-title">
            Benjamin Rosales</div>
          <p class="text-ellipsis">
            The Subnet Calculator is relatively self-explanatory based on its name, which is a calculator that performs arithmetic operations in numbers. Basically, it is a program that calculates subnets. This tool is very useful to service providers and network operator who frequently allocate and work with subnets. By input of IP address, its Class, Public, Mask, Subnet, Broadcast, first host, Last Host, Max Host amount, and if it is a host is calculated and displayed.</p>
          <div div class="btn">
            <a href="index-rosales-viewspecproject3-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="rosales/PR4rosales-page1.png" alt=""></div>
        <div class="content">
          <div class="title">
            CPU Scheduling</div>
          <div class="sub-title">
            Benjamin Rosales</div>
          <p class="text-ellipsis">
            The CPU Scheduling Simulator is a software that simulates and visualizes the different techniques of CPU Scheduling, which includes First Come, First Serve (FCFS), Shortest Job First (SJF), Shortest Remaining Job First (SRJF), Round Robin (RR), Non – Preemptive (NP) and Preemptive. This program calculates the Waiting time, Response time and Turnaround time, as well as its averages. A Gantt Chart representation of the scheduling is also displayed, with the processes represented by different colors to distinguish easier. A comparative table is accessible within the program for the comparison of the said techniques.</p>
          <div div class="btn">
            <a href="index-rosales-viewspecproject4-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="rosales/PR5rosales-page1.png" alt=""></div>
        <div class="content">
          <div class="title">
            Page Replacement</div>
          <div class="sub-title">
            Benjamin Rosales</div>
          <p class="text-ellipsis">
            Page Replacement Algorithm decides which page has to be replaced when a new page comes in. During this process, page faults happen once a memory page is accessed by a running program that is mapped into the virtual address space, but not loaded in the physical memory.</p>
          <div div class="btn">
            <a href="index-rosales-viewspecproject5-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>
</div>
            
         <div class="for-buttons">
          <button type="button" class="button">
            <span class="button-icon">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </span>
            <span class="button-text">Previous Page</span>
          </button>
      
          <button type="button" class="button">
            <span class="button-icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="button-text">Back to Home</span>
          </button>
        </div>
       
           <script>
             $(".slider").owlCarousel({
               loop: true,
               autoplay: true,
               autoplayTimeout: 2000, //2000ms = 2s;
               autoplayHoverPause: true,
             });
           </script>
       
       <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>