<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FolioHub | VIEW PROJECT</title>
    <link rel="icon" href="img/foliohub-logo.png">
    <link rel="stylesheet" href="style-viewproject-page.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>

<body>
  <div class="slider owl-carousel">
      <div class="card">
        <div class="card-image">
          <img src="deguzman/PR1deguzman-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Encrypt vs Hash</div>
            <div class="sub-title">
              Lorence Joy De Guzman</div>
            <p class="text-ellipsis">
              This video tackles about encryption and hashing. The definition, purpose, differences as well as the algorithms are explained. This video is helpful to know the importance of encryption and hashing in information security in this modern era.</p>
            <div div class="btn">
              <a href="index-deguzman-viewspecproject1-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

    <div class="card">
        <div class="card-image">
          <img src="deguzman/PR2deguzman-page1.PNG" alt=""></div>
          <div class="content">
            <div class="title">
              To-Do List App</div>
            <div class="sub-title">
              Lorence Joy De Guzman</div>
            <p class="text-ellipsis">
              To-Do List App is an application that helps user to list down all the important agendas and tasks that needs to be carry out. Using this app effectively will result to an organized and more reliable list of tasks that can be managed through your Computer, Tablet, and mobile phone.</p>
            <div div class="btn">
              <a href="index-deguzman-viewspecproject2-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="deguzman/PR3deguzman-page1.PNG" alt=""></div>
          <div class="content">
            <div class="title">
              Web Folio</div>
            <div class="sub-title">
              Lorence Joy De Guzman</div>
            <p class="text-ellipsis">
              Web Folio is an online portfolio that displays the developer’s skills and projects. This portfolio also includes ways to contact the developer and also provides a short background about the developer.</p>
            <div div class="btn">
              <a href="index-deguzman-viewspecproject3-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img src="deguzman/PR4deguzman-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              Arduino Buzzer</div>
            <div class="sub-title">
              Lorence Joy De Guzman</div>
            <p class="text-ellipsis">
              Arduino (Using Piezo Buzzer-Happy Birthday Song). In this circuit, you’ll use the MICROCONTROLLER and a small buzzer to make music, and you’ll learn how to program your own songs using arrays.</p>
            <div div class="btn">
              <a href="index-deguzman-viewspecproject4-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>

      <div class="card">
        <div class="card-image">
          <img class="portrait" src="deguzman/PR5deguzman-page1.png" alt=""></div>
          <div class="content">
            <div class="title">
              T-Shirt Design</div>
            <div class="sub-title">
              Lorence Joy De Guzman</div>
            <p class="text-ellipsis">
              This t-shirt design portrays the role of the generation z in this modern day.</p>
            <div div class="btn">
              <a href="index-deguzman-viewspecproject5-page.html" target="_blank"><button>Read more</button></a></div>
          </div>
      </div>
  </div>

  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </span>
      <span class="button-text">Previous Page</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="home-outline"></ion-icon>
      </span>
      <span class="button-text">Back to Home</span>
    </button>
  </div>

    <script>
      $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
      });
    </script>

<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>