<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>FolioHub | VIEW PROJ</title>
   <link rel="icon" href="img/foliohub-logo.png">
   <link rel="stylesheet" href="style-viewproject-page.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">

</head>
<body>
<section class="top-buttons">
  <div class="for-buttons">
    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="add-circle-outline"></ion-icon>
      </span>
      <span class="button-text">Add Project</span>
    </button>

    <button type="button" class="button">
      <span class="button-icon">
        <ion-icon name="create-outline"></ion-icon>
      </span>
      <span class="button-text">Update Project</span>
    </button>
  </div>
   </section>
   <div class="slider owl-carousel">
    <div class="card">
      <div class="card-image">
        <img src="herrero/PR1herrero-page1.png" alt=""></div>
        <div class="content">
          <div class="title">
            CPU Scheduling</div>
          <div class="sub-title">
            Wendell Herrero</div>
          <p class="text-ellipsis">
            A program that simulates the process happening inside the operating system we have today and show the order of task that will be executed based on the priority of the algorithm used in the simulator. It will also show what time it will be finished executing all task given in simulator.</p>
          <div div class="btn">
            <a href="index-herrero-viewspecproject1-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

  <div class="card">
      <div class="card-image">
        <img src="herrero/PR2herrero-page1.png" alt=""></div>
        <div class="content">
          <div class="title">
            Order Form</div>
          <div class="sub-title">
            Wendell Herrero</div>
          <p class="text-ellipsis">
            Simple order form created in Visual Basic. It gets inputs about the info of the client and the number of he/she will order and will calculate after the total price of ordered phones. This is a activity given to us to teach how to use the inputs given by the user and execute simple calculations which is the total price of phones ordered.</p>
          <div div class="btn">
            <a href="index-herrero-viewspecproject2-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

  <div class="card">
      <div class="card-image">
        <img src="herrero/PR3herrero-page1.jpeg" alt=""></div>
        <div class="content">
          <div class="title">
            Arduino RGB</div>
          <div class="sub-title">
            Wendell Herrero</div>
          <p class="text-ellipsis">
            In this setup, the materials used are RGB LED, potentiometer, photoresistor, Arduino UNO, resistors, and jumper wires. It lights up when it is dark around. It makes it happen because of photoresistor which reads the light intensity around. And with potentiometer, it can change the color of the LED. The LED used here is not a simple LED because it is an RGB. It combines the primary color of Red, Green and Blue to create different colors.</p>
          <div div class="btn">
            <a href="index-herrero-viewspecproject3-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="herrero/PR4herrero-page1.jpeg" alt=""></div>
        <div class="content">
          <div class="title">
            Arduino LED</div>
          <div class="sub-title">
            Wendell Herrero</div>
          <p class="text-ellipsis">
            This is the simple setup of lighting up one LED using Arduino UNO. In this setup, there is a potentiometer where it controls the resistance flowing in the circuit by rotating its wiper. Because of potentiometer, the brightness of the LED can be controlled.</p>
          <div div class="btn">
            <a href="index-herrero-viewspecproject4-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="herrero/PR5herrero-page1.jpeg" alt=""></div>
        <div class="content">
          <div class="title">
            Horse Auction</div>
          <div class="sub-title">
            Wendell Herrero</div>
          <p class="text-ellipsis">
            This is a simple activity how buttons work. In this program, when a button is clicked, an event happens. For example, if I click the button with text named Abby, it will show a horse and the same with button named Rascal but with different picture of a horse</p>
          <div div class="btn">
            <a href="index-herrero-viewspecproject5-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>

    <div class="card">
      <div class="card-image">
        <img src="herrero/PR6herrero-page1.jpeg" alt=""></div>
        <div class="content">
          <div class="title">
            Font Changer</div>
          <div class="sub-title">
            Wendell Herrero</div>
          <p class="text-ellipsis">
            This is a simple activity able to change the property of text inside the text input. The user can apply different fonts style and sizes and also text color according to his preference. It is an activity given to us to how manipulate the text properties.</p>
          <div div class="btn">
            <a href="index-herrero-viewspecproject6-page.html" target="_blank"><button>Read more</button></a></div>
        </div>
    </div>
</div>
            
         <div class="for-buttons">
          <button type="button" class="button">
            <span class="button-icon">
              <ion-icon name="arrow-undo-outline"></ion-icon>
            </span>
            <span class="button-text">Previous Page</span>
          </button>
      
          <button type="button" class="button">
            <span class="button-icon">
              <ion-icon name="home-outline"></ion-icon>
            </span>
            <span class="button-text">Back to Home</span>
          </button>
        </div>
       
           <script>
             $(".slider").owlCarousel({
               loop: true,
               autoplay: true,
               autoplayTimeout: 2000, //2000ms = 2s;
               autoplayHoverPause: true,
             });
           </script>
       
       <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>