*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
  	font-family: 'Poppins', sans-serif;
  	overflow: hidden;
  	background: #092756;
  	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}
.for-vector-pic{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.for-vector-pic img{
	width: 500px;
}
.signin-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
form{
	width: 360px;
}
.signin-content img{
  border-radius: 50%;
  height: 100px;
}
.signin-content h2{
	margin: 15px 0;
	color: rgb(232, 217, 217);
	text-transform: uppercase;
	font-size: 2.9rem;
  	font-family: 'Fredoka One';
    font-weight: lighter;
}
.signin-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.input-div.one{
	margin-top: 0;
}
.input-div.two{
	margin-bottom: 4px;
}

.input-div > div{
    position: relative;
	height: 45px;
}
.for-icons{
	color: #d9d9d9;
	display: flex;
	justify-content: space-evenly;

.input-div div{
    position: relative;
	height: 45px;
}
/* animation */
.input-div h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}
.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #38d39f;
	transition: .4s;
}
.input-div:before{
	right: 50%;
}
.input-div:after{
	left: 50%;
}
.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}
.input-div.focus h5{
	top: -5px;
	font-size: 15px;
}
.input-div.focus i{
	color: #38d39f;
}
.for-icons{
	color: #d9d9d9;
	display: flex;
	justify-content: center;

	align-items: center;
}
.for-icons i{
	transition: .3s;
}

::placeholder{
	color: #999;
}


.input-div input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'poppins', sans-serif;
}
.signin-content p{
  	color: #999;
}
.for-create{
  	color: #38d39f;
  	text-decoration: none;
}
.for-create:hover{
	color:darkgoldenrod;
}
.for-forgot{
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}
.for-forgot:hover{
	color: #38d39f;
}
.button-login{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.button-login:hover{
	background-position: right;
}

/* responsiveness */
@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	.for-vector-pic img{
		width: 400px;
	}
	.signin-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}
	form{
		width: 290px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}
	.for-vector-pic{
		display: none;
	}
	.signin-content{
		justify-content: center;
	}

}

}



