*{
    padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
  	font-family: 'Poppins', sans-serif;
  	overflow: hidden;
  	background: #092756;
  	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.for-vector-pic{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.for-vector-pic img{
	width: 500px;
}
.signup-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}
form{
	width: 360px;
}
.form-control{
	width: 100%;
	height: 100px;
	background: rgba(255, 255, 255, 0.481);  
	font-family: 'Poppins', sans-serif;
}
.signup-content h2{
	margin: 15px 0;
	color: rgb(232, 217, 217);
	text-transform: uppercase;
	font-size: 2.9rem;
  	font-family: 'Fredoka One';
    font-weight: lighter;
}
.signup-content p{
	color: #999;
}

/* style in wrap */
.wrap-one{
    display: flex;
    width: 100%;
    justify-content: center;
}
.wrap-two{
    width: 100%;
    position: relative;
    margin-bottom: 13px;
}
#photo{
    height: 80%;
    width: 80%;
    border-radius: 50%;
	margin-left: auto;
}
#fileField{
	display:none;
}
.cont-one{
    width: 47%;

    position: relative;

}
.cont-two{
    margin-left: auto;
    width: 47%;
    position: relative;
}
label{
    font-size: 12px;
    color: #fff;
    line-height: 1.5;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    width: 80%;
    min-height: 25px;
    border-bottom: none;
    padding: 15px 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 2px;
}
input{
    display: block;
    width: 100%;
    font-size: 18px;
	background: rgba(255, 255, 255, 0.481);  
    color: 333;
    font-weight: 500;
    padding: 10px 0px;
}

/* animation in span */
.event-one{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.event-one::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
	background: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}
input:focus + .event-one::before{
    width: 100%;
}
textarea:focus + .event-one::before{
    width: 100%;
}
.event-two{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.event-two::before{
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 2px;
    transition: all 0.6s;
	background: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}
input:focus + .event-two::before{
    width: 100%;
}

.signup-content .for-signin {
  color: #38d39f;
  text-decoration: none;
}
.signup-content .for-signin:hover {
  color:darkgoldenrod;
}
.for-buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}
.button-cancel, .button-next{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 45%;
	height: 45px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #be3232, #d33838, #be3232);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.button-cancel:hover{
	background-position: right;
}
.button-next{
	background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
}
.button-next:hover{
	background-position: right;
}

/* responsiveness */
@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}
	.signup-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}
	.for-vector-pic img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}
	.for-vector-pic{
		display: none;
	}
	.signup-content{
		justify-content: center;
	}
}

@media(max-width:500px){
    .wrap-one{
        flex-direction: column;
    }
    .cont-one,.cont-two{
        width: 100%;
        margin: 0px;
    }
}

